[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xgboost = "*"
requests = "*"
mlflow = "*"
sklearn = "*"
pillow = "*"
streamlit = "==1.9.2"

[dev-packages]

[requires]
python_version = "3.8"
