[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
pandas = "*"
sklearn = "*"
xgboost = "*"
hyperopt = "*"
xarray = "*"
python-dotenv = "*"
prefect = "==2.0b5"

[dev-packages]

[requires]
python_version = "3.8"
